.home_slider {
    display: flex;
    min-width: 0;
    position: relative;
}

.home_slider .swiper {
    border-radius: var(--main_radius);
}

.home_slider>div:first-child {
    flex: 4;
    min-width: 0;
}

.home_slider .swiper {
    margin-bottom: 0;
}

.home_slider .home_bonus {
    flex: 1;
    position: relative;
    height: auto;
    background-color: var(--home_bonus_bg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--main_radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.home_slider .home_bonus .home_bonus__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: var(--home_bonus_padding);
}

.home_slider .home_bonus .home_bonus__title {
    font-weight: 700;
    font-size: 30px;
}

.home_slider .home_bonus .home_bonus__text {
    flex: 1;
    font-size: 19px;
}

.home_slider .home_bonus .home_bonus__btn {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background: var(--home_bonus_btn_bg);
    color: var(--home_bonus_btn_color);
    border-radius: var(--main_radius);
    text-align: center;
    font-weight: 700;
    font-size: 19px;
    text-decoration: none;
    transition: 0.3s;
    margin-top: auto;
}

.home_slider .home_bonus .home_bonus__btn a:hover {
    opacity: 0.85;
}

.home_slider .swiper-pagination-bullet {
    background-color: #717171 !important;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    cursor: pointer;
}

.home_slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #bbb !important;
}